﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container pt-4">
    <div role="main" class="pb-3">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://gitlab.com/visceraltaskforce/visceral">The Visceral Project on GitLab</a>.</p>
            <img src="~/images/visceral_logo.svg" alt="Logo Visceral"/>
            <p class="my-4 py-2 border-top"> &copy; 2020 - Visceral</p>
        </div>
    </div>
</div>
