@{
    ViewBag.Title = "Investigation Graph";
}

<div id="app">
    <!-- Vis network left window -->
	<div id="vis_network"></div>
	
	<!-- Information menu right window -->
    <div id ="information_menu" class="p-2">
		
		<div id="information_menu_title" class="grid_center" v-if="is_menu_information_having_elt_selected">
			<span :title="menu.information.elt_selected.data.label">
			    <h4 class="overflow_management">
			        <span v-if="menu.information.elt_selected.type === 'node'" v-text="menu.information.elt_selected.data.group" class="badge badge-light"></span> {{menu.information.elt_selected.data.label}}
			    </h4>
			</span>
		</div>
		<div id="information_menu_display" v-if="is_menu_information_having_elt_selected">
		    <div id="information_menu_properties">
		 		<table class="information_menu_table">
         		  	<caption v-text="menu_information_table_caption"></caption>
					<tr>
						<td>Database ID</td>
						<td>
							<span :title="menu.information.elt_selected.data.id" v-text="menu.information.elt_selected.data.id"></span>
						</td>
					</tr>
					<tr v-for="(property,key) in Object.keys(menu.information.elt_selected.data.properties)" :key="key">
						<td v-text="property"></td>
						<td>
							<span :title="menu.information.elt_selected.data.properties[property]" v-text="menu.information.elt_selected.data.properties[property]"></span>
						</td>
					</tr>
         		</table>   
			</div>
			<div id="information_menu_node_to_node_relation" v-if="menu.information.elt_selected.type === 'edge'">
			    <table class="information_menu_table">
			        <caption>Relationship's Nodes</caption>
			        <tr>
			            <td>From</td>
			            <td>			
			                <span :title="menu.information.elt_selected.data.from" v-text="menu.information.elt_selected.data.from"></span>
        	            </td>
			        </tr>
			        <tr>
			            <td>To</td>
			            <td>
			                <span :title="menu.information.elt_selected.data.to" v-text="menu.information.elt_selected.data.to"></span>
						</td>
			        </tr>
			    </table>
        	</div>
		</div>
		<div id="replay_activity_menu" class="border-top border-light">
		    <div id="replay_activity_title" class="grid_center">
		        <h4 class="grey">Replay Activity</h4>
		    </div>
		    <div id="replay_activity_interval">
			    <span title="Interval between steps in milliseconds.">
			    	<input id="inpReplayActivityInterval" type="number" class="form-control" v-model="replay_activity.interval_ms" min="0" 
			    	placeholder="Interval (ms)" :disabled="Boolean(replay_activity.is_active ^ replay_activity.is_paused)"/>
				</span>
			</div>
		    <div id="replay_activity_start" class="grid_center">
		        <span title="Starts the animation">

		            <button type="button" class="btn btn-outline-primary replay_activity_btn" v-on:click="replay_activity_start" :disabled="replay_activity.is_active && !replay_activity.is_paused">&#9199;</button>
		        </span>
		    </div>
		    <div id="replay_activity_pause" class="grid_center">
		        <span title="Pauses the animation">
		            <button type="button" class="btn btn-outline-primary replay_activity_btn" v-on:click="replay_activity_pause" :disabled="!(replay_activity.is_active ^ replay_activity.is_paused)">&#9208;</button>
		        </span>
		    </div>
		    <div id="replay_activity_cancel" class="grid_center">
		        <span title="Cancels the animation">
		            <button type="button" class="btn btn-outline-primary replay_activity_btn" v-on:click="replay_activity_cancel" :disabled="!replay_activity.is_active">&#9209;</button>
		        </span>
		    </div>
		    <div id="replay_activity_prev" class="grid_center">
		        <span title="Goes to the previous step">
		            <button type="button" class="btn btn-outline-primary replay_activity_btn" v-on:click="replay_activity_prev_step" :disabled="!(replay_activity.is_active && !replay_activity_index_is_at_min)">&#9194;</button>
		        </span>
		    </div>
		    <div id="replay_activity_next" class="grid_center">
		        <span title="Goes to the next step">
		            <button type="button" class="btn btn-outline-primary replay_activity_btn" v-on:click="replay_activity_next_step" :disabled="replay_activity.is_active && replay_activity_index_is_at_max">&#9193;</button>
		        </span>
		    </div>
		</div>
		<div id="information_menu_date_filter" class="border-top border-light">
			<div id="range_filter_title" class="grid_center">
				<h4 class="grey">Date Range Filter</h4> 
			</div>
			<div id="range_date_date_format_status" class="grid_center" v-text="range_display_mode_to_text"></div>
			<div id="range_toggle_date_format" class="grid_center">
				<label class="switch">
            	    <input type="checkbox" v-model="range_date_filter.display_is_human_readable">
            	    <span class="slider round" title="Toggles date format."></span>
            	</label>	
            </div>
			<div id="range_label_start" class="grid_center">
				<label for="range_start_time">Starting Date :</label>
			</div>
			<div id="range_start_date" class="grid_center">
				<transition name="fade">
					<input v-if="range_date_filter.display_is_human_readable" v-model="range_date_filter.start.date" type="date" name="start_date"/>
				</transition>
			</div>
			<div id="range_start_time" class="grid_center">
		    	<transition name="fade">
					<input v-if="range_date_filter.display_is_human_readable" v-model="range_date_filter.start.time" type="time" name="start_time"/>
        		</transition>
			</div>
			<div id="range_start_seconds_microseconds" class="grid_center">
				<transition name="fade">
            		<input v-if="range_date_filter.display_is_human_readable" v-model="range_date_filter.start.seconds_microseconds" 
            		type="text" name="start_seconds_microseconds" placeholder="seconds.microsec" 
            		pattern="[0-5]?[0-9]{1}\.[0-9]{1,6}" title="You need to respect the following format: second.microseconds"/>
                </transition>
            </div>
			<div id="range_label_end" class="grid_center">
				<label for="range_end_time">Ending Date :</label>
			</div>
			<div id="range_end_date" class="grid_center">
            	<transition name="fade">
            		<input v-if="range_date_filter.display_is_human_readable" v-model="range_date_filter.end.date" type="date" name="end_date"/>
            	</transition>
            </div>
			<div id="range_end_time" class="grid_center">
		    	<transition name="fade">
					<input v-if="range_date_filter.display_is_human_readable" v-model="range_date_filter.end.time" type="time" name="end_time"/>
        		</transition>
			</div>
			<div id="range_end_seconds_microseconds" class="grid_center">
				<transition name="fade">
            		<input v-if="range_date_filter.display_is_human_readable" v-model="range_date_filter.end.seconds_microseconds" 
            		type="text" name="start_seconds_microseconds" placeholder="seconds.microsec"/>
                </transition>
            </div>
			<div id="range_start_timestamp" class="grid_center">
		    	<transition name="fade">
					<input v-if="!range_date_filter.display_is_human_readable" v-model="range_date_filter.start.timestamp" type="number" min="0" step="1" placeholder="Timestamp microseconds.">
        		</transition>
        	</div>
			<div id="range_end_timestamp" class="grid_center">
		    	<transition name="fade">
					<input v-if="!range_date_filter.display_is_human_readable" v-model="range_date_filter.end.timestamp" type="number" min="0" step="1" placeholder="Timestamp microseconds.">
        		</transition>
        	</div>
		</div>
		<transition name="fade">
        	<div v-if="menu.information.display_copied_alert" id="information_menu_alert_copy_clipboard" class="alert alert-success" role="alert">
        	    Copied to clipboard 
        	</div>
		</transition>
	</div>
    
	<!-- Starting menu for choosing starting node -->
	<div v-if="menu.first_node_selection.state === 'menuStartingLabel'" id="menu_1"  class="starting_menu grid_center">
		<select v-model="menu.first_node_selection.starting_label" id="starting_label" class="form-control">
			<option selected disabled>Choose the starting node's type</option>
			<option v-for="(label,key) in general_informations.labels" :key="key" v-text="label"></option>
		</select>
	</div>
	<div v-if="menu.first_node_selection.state === 'menuStartingNode'" id="menu_2" class="starting_menu grid_center">
		<input id="node_filter" v-model="menu.first_node_selection.node_filter" placeholder="Node filter" class="form-control"/>
		<select v-model="menu.first_node_selection.starting_node" id="starting_node" class="form-control">
			<option selected disabled>Choose the starting node</option>
			<option v-for="(node,key) in menu.first_node_selection.filtered_nodes" :key="key" :value="node.id" v-text="node.label"></option>
		</select>
	</div>
	<ul class='custom-menu'>
		<li v-on:click="menu_selected_item(label)" :data-action="label" v-for="label in menu.information.extend.labels" v-text="label"/>
	</ul>
</div>
