.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #FFF;
    white-space: nowrap;
    font-family: sans-serif;
    background: #000;
    color: #FFF;
    border-radius: 5px;
    list-style-type: none;
    padding-left: 0;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #FFF;
    color: #000;
}
