/* ===== Global Variables ===== */
:root{
	--number-col-main : 14; /* Column number of the main grid */
	--number-row-main : 7;  /* Line number of the main grid */

	--number-col-info-menu : 6; /* Column number of the information menu */
	--number-row-info-menu : 12;  /* Line number of the information menu */
}

/* ==== Styling ==== */

#app{
    height: 100%;
	display: grid;
	grid-template-columns: repeat(var(--number-col-main), 1fr);	/* The grid has a col number equal to --number-col var */
	grid-template-rows: repeat(var(--number-row-main), 1fr);/*calc(93vh / var(--number-row-main)));*/	/* The grid has a line number equal to --number-row var */
	justify-items : stretch;	/* Every item in the grid will take all the space it has horizontally*/
	align-items : stretch;		/* Every item in the grid will take all the space it has vertically*/	
}

#vis_network{
    grid-column: 1/12;
	grid-row: 1/8;
}

.starting_menu{
	grid-column: 4/9;
	grid-row : 4;
}

#node_filter{
	width: 50%;
}

/* Information menu (data displayed when a node or an edge is selected on the graph */
#information_menu{
	grid-column: 12/15;	
	grid-row: 1/8;
	
	background-color: #0d0f13;
	overflow: hidden;

	/* Sub Grid definition */
	display : inline-grid;
	grid-template-columns: repeat(var(--number-col-info-menu), 1fr);	
	grid-template-rows: repeat(var(--number-row-info-menu), 1fr);/*calc(93vh / var(--number-row-info-menu)));*/
}

#information_menu_title{
	grid-column: 1/7;
	grid-row: 1;
	text-align: center;
}

#information_menu_title h4{
	width : 18em;
}

#information_menu_display{
	grid-column: 1/7;
	grid-row: 2/11;
	overflow-y: scroll;
}

.information_menu_table{
	width: 100%;
	table-layout: fixed;
	border : 1px #0d0f13 solid;
}

.information_menu_table caption{
	caption-side: top;
	display: table-caption;
	text-align: center;
	font-size: 1.5em;
}

.information_menu_table tr td {
	border: solid 1px #0d0f13;
    padding: 0.25rem;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.information_menu_table tr:nth-child(odd) {
	background-color: #2d3033;
}

.information_menu_table tr:nth-child(even) {
	background-color: #212528; /*#1b1e21;*/
}

#information_menu_alert_copy_clipboard{
	grid-column: 1/7;
	grid-row: 14/15;
}

#information_menu_date_filter{
	grid-column: 1/7;
	grid-row: 15/17;

	/* Sub Grid definition */
	display: inline-grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

/* Replay activity menu (Section helping the user to replay activities in the graph) */
#replay_activity_menu{
	grid-column: 1/7;
	grid-row: 11/13;
	
	display: inline-grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

#replay_activity_title{
	grid-column: 1/4;
	grid-row: 1;
}

#replay_activity_interval{
	grid-column: 4/6;
	grid-row: 1;

	justify-self: stretch;
	align-self: center;
}

#replay_activity_start{
	grid-column: 1;
	grid-row: 2;
}

#replay_activity_pause{
	grid-column: 2;
	grid-row : 2;
}

#replay_activity_cancel{
	grid-column: 3;
	grid-row : 2;
}

#replay_activity_prev{
	grid-column: 4;
	grid-row: 2;
}

#replay_activity_next{
	grid-column: 5;
	grid-row: 2;
}

.replay_activity_btn{
	font-size: 1.3em;
}

/* Range date filter for the graph */

#range_filter_title{
	grid-column: 1/9;
	grid-row: 1/3;
}

#range_date_date_format_status{
	grid-column: 9/11;
	grid-row: 1/3;
}

#range_toggle_date_format{
	grid-column: 11/13;
	grid-row: 1/3;
}

#range_label_start{
	grid-column: 1/3;
	grid-row: 3/5;
}

#range_start_date{
	grid-column: 3/7;
	grid-row: 3/5;
}

#range_start_time{
	grid-column: 7/9;
	grid-row: 3/5;
}

#range_start_seconds_microseconds{
	grid-column: 9/13;
	grid-row: 3/5;
    width: 100%;
	overflow: hidden;
}

#range_label_end{
	grid-column: 1/3;
	grid-row: 5/7;
}

#range_end_date{
	grid-column: 3/7;
	grid-row: 5/7;
}

#range_end_time{
	grid-column: 7/9;
	grid-row: 5/7;
}

#range_end_seconds_microseconds{
	grid-column: 9/13;
	grid-row: 5/7;
	width: 100%;
    overflow: hidden;
}

#range_start_timestamp{
	grid-column: 4/12;
	grid-row: 3/5;
    justify-self: center;
}

#range_end_timestamp{
	grid-column: 4/12;
	grid-row: 5/7;
	justify-self: center;
}

/* Other classes more generic */

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.grid_center{
	align-self : center;
	justify-self : center;
}

.grid_stretch{
	justify-self: stretch;
	align-self: stretch;
}

.overflow_management{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

h4.grey{
	color: #888;
}
