﻿html, body{
    background-color : black;
    color : white;
    margin : 0;
    padding : 0;
}

body{
    height: 100vh;
}

header{
    height: 6%;
    background-color: #1a1a1a;
}

main{
    height: 94%;
}

.active-visceral{
    color : #d40000 !important;
}

.flex-center{
    align-items: center;
}
