<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Visceral</title>
    <link rel="icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css">
    
    @if ((string) ViewData["Title"] == "Investigation Graph")
    {    
        <link rel="stylesheet" href="~/lib/vis-network/vis-network.css">
        <link rel="stylesheet" href="~/css/custom-menu.css">
        <link rel="stylesheet" href="~/css/investigation-graph.css">
        <link rel="stylesheet" href="~/css/toggle_switch.css">
    }
    else{
        <link rel="stylesheet" href="~/css/site.css" />
    }
    
</head>
<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar px-2 py-0">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row flex-center">
                <li class="nav-item">
                    <a class="navbar-brand mr-0 mr-md-2" href="/">
                        <img src="@((string) ViewData["Title"] == "Home Page" ? "/images/visceral_logo_lines_red.svg" : "/images/visceral_logo_lines_white.svg")" style="height: 3em" alt="Visceral Logo">
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light @((string) ViewData["Title"] == "Import" ? "active-visceral" : "")" asp-area="" asp-controller="Import" asp-action="Import">Import</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light @((string) ViewData["Title"] == "Investigation Graph" ? "active-visceral" : "")" asp-area="" asp-controller="Home" asp-action="InvestigationGraph">Investigation Graph</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
</body>

<!-- Scripts -->
<script src="~/lib/jquery/dist/jquery.js"></script>
@if ((string) ViewData["Title"] == "Investigation Graph")
{
    <!-- Libraries -->
    <script src="~/lib/vis-network/vis-network.js"></script>
    <script src="~/lib/vue/vue.js"></script>
    <!-- API interface -->
    <script src="~/js/api.js"></script>
    <!-- Main JS -->
    <script src="~/js/investigation-graph.js"></script>
}
else
{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
</html>
