﻿@{
    ViewData["Title"] = "Import";
}
@using Visceral.Models.View
@model Visceral.Models.View.ImportModel;


<div class="container py-4">
    <div role="main" class="pb-3">
        <div class="text-center">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <form enctype="multipart/form-data" method="post">
                <select asp-for="UploadType" asp-items="Html.GetEnumSelectList<ImportModel.UploadEnum>()"></select>
                <dl>
                    <dt>
                        <label asp-for="FormFile"></label>
                    </dt>
                    <dd>
                        <span asp-validation-for="FormFile"></span>
                        <input asp-for="FormFile" type="file"/>
                    </dd>
                </dl>
                <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
                <div id="DivSuccess" runat="server" class="alert alert-success" role="alert" hidden="hidden">
                  A simple success alert—check it out!
                </div>
            </form>
        </div>
    </div>
</div>
